.poster-link img:last-child {
  display: none;  
  
}
.poster-link:hover img:last-child {
  display: block;  
}
.poster-link:hover img:first-child { 
  display: none;
}
.poster-link {
  cursor: pointer;
}

.poster-title-box{
  display: inline-block;
  font-weight: 600;
}
.product-title-price {
  padding-left: 12px;
  font-size: 16px;
  margin: 0 auto;
}
.product-title-price::before {
content: '| ';
padding-right: 2px;
}
.qty-all {
  color:#bdc3c7;
  font-size: 12;
  font-weight: 200;
}