.btn:link,
.btn-white:visited {
  // text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 1.2rem 6rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1.2rem;
  background-color: $black;
  color: $white;
  margin-top: 0.5rem;
  @include respond(correct1) {
    font-size: 0.9rem;
  }
  @include respond(tab-port) {
    text-transform: none;
    // width: 100%;
    padding: 1.2rem 4rem;
  }
}
.btn-white::after {
  background-color: $black;
}
.btn--animated {
  animation: moveInUp 1s ease-out 0.75s;
  animation-fill-mode: backwards;
  /* 0%(in animation) - initial statement of the btn*/
}

.btn:hover {
  transform: translateY(-3px);
  background-color: $black !important;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.auth-btn {
  margin: 20px 0;
  text-decoration: none;
  background-color: #2980b9;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  transition: all 0.2s;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #1873af;
  }
}

// .btn::after {
//   content: "";
//   display: inline-block;
//   height: 100%;
//   width: 100%;
//   border-radius: 100px;
//   position: absolute;
//   top: 0;
//   /*Выравнивание кнопки*/
//   left: 0;
//   /*Выравнивание кнопки*/
//   z-index: -1;
//   /*на задний план осн кнопки*/
//   transition: all .4s;
//   @include respond(tab-land) {
//     content: none;
//   }
// }
