// .poster-link img:last-child {
//   display: none;

// }
// .poster-link:hover img:last-child {
//   display: block;
// }
// .poster-link:hover img:first-child {
//   display: none;
// }
.poster-link {
  cursor: pointer;
  position: relative;
  // display: block;
  &::after {
    display: block;
    padding-top: 100%;
    content: "";
  }
  & img {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transition: all 0.4s ease;
    transform: translate(-50%, -50%);
  }
}

.poster-title-box {
  display: inline-block;
  font-weight: 600;
}
.product-title-price {
  padding-left: 12px;
  font-size: 16px;
  margin: 0 auto;
}
.product-title-price::before {
  content: "| ";
  padding-right: 2px;
}
.qty-all {
  color: #bdc3c7;
  font-size: 12;
  font-weight: 200;
}
.poster-link {
  position: relative;
  & .poster-tags {
    position: absolute;
    top: 15px;
    display: block;
    &__tag {
      padding: 5px;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      background-color: #000;
      margin-bottom: 10px;
    }
  }
  &__img {
    transition: all 0.4s ease;
    &--front {
      opacity: 1;
      &:hover {
        opacity: 0;
      }
    }
    &--back {
      opacity: 0;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.poster-list {
  min-height: 450px;
}
