
.swiper-slide {
  // flex-shrink: 1 !important;
  margin-right: 10px !important;
  // min-width: 550px;
}
.poster-container{
  margin-bottom: 25px ;
}
.swiper-button-next,  .swiper-button-prev {
  color: #fff !important;
}