
.mTitle {
  &--el {
    background-color: #fff;
    font-weight: 200;
  }
}
.sTitle{
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-top: 5px;
  letter-spacing: 2.5px;
  text-transform: uppercase
}
.mTitle:before{
  content: '';
  display: block;
  width: 40%;
  height: 2px;
  background: $grey-medium;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -2;
  @include respond(phone) {
    content: none;
  }
}
.mTitle::after {
  content: '';
  display: block;
  width: 40%;
  height: 2px;
  background: $grey-medium;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
  @include respond(phone) {
  content: none;
  }
}
