.login-container {
  margin-top: 65px;
  display: flex;
  min-height: 500px;
  align-items: center;
}
.login-data {
  //   background-color: rgb(218, 172, 74);
  //   height: 120px;
  width: 40%;
  display: flex;
  padding: 0 40px;
  flex-direction: column;
  align-items: start;
  & h1 {
    font-size: 46px;
  }
  &__form {
    &__input-box {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      & input {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid $grey-medium;
        min-width: 300px;
        font-size: 14px;
      }
      & label {
        align-self: start;
        margin-bottom: 10px;
        color: $grey-medium;
        font-weight: bold;
      }
    }
  }
}
.login-piture {
  margin-top: 20px;
  width: 60%;
}
.error-input {
  text-align: left;
  color: red;
  margin: 0;
}
