.news-container {
  height: 75vh;
  background-image: url('../../assets/images/news-image.jpg');
  background-position: top;
  background-size: cover;
  position: relative;
  
}
.news__text-box {
  position: absolute;
  text-align: center;
  top:30%;
  left: 15%;
  color: #fff;
}