.toolbar {
display: flex;
justify-content: flex-end;
align-items: center;
padding: 10px 3%;
background-color: rgb(238, 238, 238);
height: 45px;
position: fixed;
width: 100%;
z-index: 4;
top: 0;

}
nav {
  text-align: center;
  flex-grow: 1;
}

.btn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  height: 25px;
}
.btn:hover {
  background-color: #2980b9;
}

.btn-login {
  width: 120px;
}
.toolbar .toolbar-li .toolbar-a {
  font-family: 'arial';
  font-size: 24px;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-weight: 200;
}
.toolbar .toolbar-li .toolbar-a:hover {
color: #e74c3c;;
}

.toolbar .toolbar-li {
  display: inline-block;
  padding: 0 5px;
  margin-right: 6rem;
}
